.marketingHeader {
    font-family: 'Open Sans', monospace;
    /* padding-top: 30px; */
  }
  .marketingHeader h1 {
    font-weight: 800;
  }
  .marketingHeader h5 {
    font-weight: 600;
  }
.photographyBodyText {
    font-family: 'Swanky', monospace;
}
.marketingComponent {
  /* padding: 10px; */

}



@media (max-width: 767.98px) {
  /* .marketingHeader{
    padding-top: 30px;
  } */
}
     