@import url("https://use.typekit.net/nnn7cfm.css");
.marketingHeader {
    font-family: poppins, serif;
    font-weight: 900;
  }
  .marketingHeader h1 {
    font-weight: 800;
  }
  .marketingHeader h5 {
    font-weight: 600;
  }
.photographyBodyText {
    font-family: 'Swanky', monospace;
}
p {
  font-weight: 300;
}

a:hover {
  cursor: pointer; 
}
@media (max-width: 767.98px) {

}
     