/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue"); */
@import url("https://use.typekit.net/nnn7cfm.css");


.profileHeader h1 {
	font-family: poppins, sans-serif;
	font-weight: 200;
}

.profileHeader h2 {
	font-family: poppins, sans-serif;
	font-style: normal;
}

.profileHeader h5 {
	font-family: poppins, sans-serif;
	text-align: justify;
}

.profileHeader a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #000;
}

/* #imageCol {
	text-align: center;
} */

/* .resumeLink a:hover {
	text-decoration: none;
	background-color: black;
	color: white;
	padding: 2px;
} */

.profileBioText {
	font-family: poppins, sans-serif;
	/* font-size: 1.4em; */
	text-align: justify;
}

.pageHeader {
	padding-left: 15px;
	margin: 0;
	font-weight: 800;
	font-size: 3em;
}


/* .banner {
	background-color: rgb(21, 197, 115);
	background-image: url("https://dvdvllgsbuck201803-dvdeng.s3.us-east-2.amazonaws.com/roboWallArt.png");
	height: 450px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
} */

/* .parallax {
	font-family: poppins, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
	padding-right: 100px;
	padding-top: 150px;
	letter-spacing: 2px;
	margin-top: 0px;
	margin-left: 0px;
} */

.parallax_description {
	font-family: poppins, sans-serif;
	color: #fff;
	background-color: #000;
	text-align: justify;
	width: 100%;
	line-height: 20px;
	font-weight: 22px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;

}

.parallax_description a {
	color: #f3cb1a;
}

.sectionContentTitle {
	color: rgb(110, 26, 26);
	font-family: poppins, sans-serif;
}

#resumeTitle {
	font-family: poppins;
	font-weight: 800;
	margin-top: 1em;
}

#personalBio {
	/* font-size: 1.1em; */
	/* font-weight: 400; */
	text-align: justify;
}
#resume h3 {
	font-weight: 300;
}

/* PHONES TO IPADS */
@media only screen and (min-width: 320px)and (max-width: 767px) {



	#imageCol {
		width: 100%;
		margin-top: 0px;
		text-align: center;
	}

	.profilePhoto {
		width: 80%;
	}

	.profileHeader h1 {
		text-align: center;
		font-size: 10vw;
	}

	.profileHeader h2 {
		text-align: center;
		font-size: 5vw;
	}

	.profileHeader h4 {
		text-align: justify;
		font-weight: 600;
		font-size: 4vw;
	}

	.profileHeader p {
		text-align: justify;
	}

	.banner {
		height: 50vh;
	}

	.parallax {
		padding-top: 50px;
		display: none;
	}
}

/* IPADS TO LARGE SCREENS */
@media only screen and (min-width: 768px) and (max-width:1439px) {


	.profileHeader h1 {
		font-weight: 800;
	}

	.profileHeader h2 {
		font-weight: 100;
	}

	.profileHeader h3 {
		text-align: justify;
	}

	#resumeLink a:hover {
		background-color: black;
		color: white;
		padding: 2px;
	}
}

/* LARGE SCREENS AND UP */
@media only screen and (min-width: 1440px) {}