@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");

.profileHeader h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

.profileHeader h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.profileHeader h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: justify;
}

.profileHeader a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #000;
}

#imageCol {
	text-align: center;
}

#resume a:hover {
	text-decoration: none;
	background-color: black;
	color: white;
	padding: 2px;
}

.profileBioText {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4em;
	text-align: justify;
}

.pageHeader {
	padding-left: 15px;
	margin: 0;
	font-weight: 800;
	font-size: 3em;
}


.banner {
	background-color: #2D9AB7;
	background-image: url("../../images/roboWallArt.png");
	height: 450px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.parallax {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
	padding-right: 100px;
	padding-top: 150px;
	letter-spacing: 2px;
	margin-top: 0px;
	margin-left: 0px;
}

.parallax_description {
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	background-color: #212529;
	text-align: justify;
	width: 100%;
	line-height: 20px;
	font-weight: 22px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;

}

.parallax_description a {
	color: #f3cb1a;
}

.sectionContentTitle {
	color: rgb(110, 26, 26);
	font-family: 'Open Sans', sans-serif;
}

#resumeTitle {
	font-family: 'Open Sans';
	font-weight: 800;
	margin-top: 1em;
}
#resume h3 {
	font-weight: 300;
}

#btt {
	padding-top: 80px;
}


/* PHONES TO IPADS */
@media only screen and (min-width: 320px)and (max-width: 767px) {



	#imageCol {
		width: 100%;
		margin-top: 0px;
		text-align: center;
	}

	.profilePhoto {
		width: 80%;
	}

	.profileHeader h1 {
		text-align: center;
		font-size: 10vw;
	}

	.profileHeader h2 {
		text-align: center;
		font-size: 5vw;
	}

	.profileHeader h4 {
		text-align: justify;
		font-weight: 600;
		font-size: 4vw;
	}

	.profileHeader p {
		text-align: justify;
	}

	.banner {
		height: 500px;
	}

	.parallax {
		padding-top: 50px;

	}
}

/* IPADS TO LARGE SCREENS */
@media only screen and (min-width: 768px) and (max-width:1439px) {


	.profileHeader h1 {
		font-weight: 800;
	}

	.profileHeader h2 {
		font-weight: 100;
	}

	.profileHeader h3 {
		text-align: justify;
	}

	#resumeLink a:hover {
		background-color: black;
		color: white;
		padding: 2px;
	}
}

/* LARGE SCREENS AND UP */
@media only screen and (min-width: 1440px) {}