@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.experience {
    font-family: poppins, sans-serif;
    margin-top: 30px;
    margin-bottom: 60px;
}

.pageHeader {
    padding-bottom: 15px;
}

.sectionContentTitle {
    font-family: poppins, sans-serif;
    color: rgb(27, 117, 207);
    padding: 0px;
}
.sectionContent {
    text-align: justify;
}
.sectionContentTitle h5 {
    font-weight: 300;
    color: #3e3f41;
}
.sectionContent a {
    color: rgb(27, 117, 207);
    font-weight: 400;
}
.sectionContentTitle a {
    font-family: poppins, sans-serif;
    /* color: rgb(102, 27, 4); */
    color: #212629;
    font-weight: 600;

}
.sectionContentTitle a:hover {
    font-family: poppins, sans-serif;
    color: #3e3f41;

}
