@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.experience {
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
}

.pageHeader {
    padding-bottom: 15px;
}

.sectionContentTitle {
    font-family: 'Open Sans', arial;
    color: rgb(27, 117, 207);
    padding: 0px;
}
.sectionContent {
    text-align: justify;
    font-size: 1.1em;
}
.sectionContentTitle h5 {
    font-weight: 600;
    color: #3e3f41;
}

.sectionContentTitle a {
    font-family: 'Open Sans', arial;
    color: rgb(27, 117, 207);

}
.sectionContentTitle a:hover {
    font-family: 'Open Sans', arial;
    color: #3e3f41;

}
