@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');

.skills {
    font-family: 'Open Sans', sans-serif;
    margin-top: 60px;
    /* margin-bottom: 20px; */
}
.skillRow {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.skillRow ul {
    padding-left: 0;
    list-style: none;
}
.skillRow li {
    /* font-weight: bold; */
    /* color: green; */
}
.skillRow h5 {
    color: rgb(27, 117, 207);
}

.sectionHeader {
    padding-left: 15px;
    font-weight: 800;
}