.photographyHeader {
    font-family: 'Open Sans', sans-serif;
}
.photographyHeader h1 {
    font-weight: 800;
}

.photographyHeader a:hover {
    text-decoration: none;
    background-color: #000;
    color: #fff;
}

img.card-img-top {
    border-radius: 0;
}
#photoPageBlurb {
    font-weight: 300;
}
@media only screen and (min-width: 320px)and (max-width: 1024px) {
    .photographyHeader {
        font-size: 3.5em;
        text-align: center;
    }
}