@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.creativeHeader {
    /* padding: 15px; */
    margin-top: 3%;
    font-size: 5rem;
    font-family: 'Fredericka the Great', monospace;
}

.creativeLinks a {
    padding: 3px;
    padding-left: 15px;
    
    font-size: 1.5em;
    /* color: rgb(9, 95, 129); */
    font-family: 'Caveat', cursive;
}
.creativeLinks a:hover {
    color: red;
    font-weight: bold;
}
.bodyText {
    font-family: 'Caveat', cursive;
}

#graphics {
    margin-top: 45px;
    margin-bottom: 45px;
  
}
@media only screen and (min-width: 320px)and (max-width: 1024px) {

    .creativeHeader {
        font-size: 3.5em;
    }

    .bodyText h1 {
        font-size: 2em;
    }


}