
.contactPage {
    background-image: url("https://pixabay.com/get/57e3d6454257a814ead98378c720377a1022dfe05a57764a762f79d4.jpg");
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
    height: 100%;
}

.pageHeader {
    font-family: 'Bebas Neue';
    font-size: 6vw;
    /* color: #1961aa; */
    padding-bottom: 400px;
}

#contactBox {
    font-family: 'Bebas Neue';
    font-size: 7vh;
    list-style-type:none;
    color: #343A40;
    float: right;
   
}

.wavePic {
    position: absolute;
    bottom: 0;
    margin-bottom:0;
    height: 100%;
}

.contactBox img {
    padding: 4px;
    margin-bottom: 0px;
}
a .email {
    background-color: transparent;
}
p a:hover {
    color: #1961aa;
    /* border-style: dotted; */
  }

/* .contactLink a:hover {
    text-decoration: none;
    color: red;
} */
  @media only screen and (min-width: 320px)and (max-width: 1024px) {

    .contactHeader {
        text-align: center;
        font-size: 15vw;
    }
     
     }