@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');
.pageContent {
    clear: both;
    height: 100%;
    display: inline-block;
  }
  
  .webDevHeader {
    margin:15px;
    margin-top: 5%;
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Major Mono Display', monospace;
}
.collapse {
  font-family: 'Open Sans', sans-serif;
}
/* .instructions {
  font-family: 'Major Mono Display', monospace;
} */
.websiteName {
  font-family: 'Open Sans', monospace;
}
.dropDownText {
  font-family: 'Open Sans', sans-serif;
}
  .grid {
    margin: 0 -1em;
    overflow: hidden;
  }
  .grid:target {
    -webkit-animation: fadeout 5s 1 ease-out;
      -moz-animation: fadeout 5s 1 ease-out; 
      -o-animation: fadeout 5s 1 ease-out;
      animation: fadeout 5s 1 ease-out; 
  }

  .grid > section {
    padding: 1em 1em 0.5em;
  }
  .grid > section:target {
    -webkit-animation: fadeout 5s 1 ease-out;
      -moz-animation: fadeout 5s 1 ease-out; 
      -o-animation: fadeout 5s 1 ease-out;
      animation: fadeout 5s 1 ease-out; 
  }
  .grid ul {
    overflow: hidden;
  }
  .grid ul li {
    margin-bottom: 0.3em;
  }
  .websiteName {
    font-family: 'Open Sans', sans-serif;
  }
  .websiteName a:hover {
    background-color: black;
    border-style: dashed;
    color: white;
    
  }

  .siteText {
    font-size: 3rem;
  }
   /* iphones to small screens */
  @media only screen and (min-width: 320px)and (max-width: 1024px) {

    .webDevHeader {
      font-size: 4rem;
    }
  
  
  }
  
 
