@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");
.pageContent {
    clear: both;
    height: 100%;
    display: inline-block;
  }
  
  .webDevHeader {
    margin:20px;
    margin-top: 5%;
    font-size: 5rem;
    font-family: 'Major Mono Display', monospace;
}
.instructions {
  font-family: 'Major Mono Display', monospace;
}
.websiteName {
  font-family: 'Bebas Neue', monospace;
}
.dropDownText {
  font-family: sans-serif;
}
  .grid {
    margin: 0 -1em;
    overflow: hidden;
  }
  .grid:target {
    -webkit-animation: fadeout 5s 1 ease-out;
      -moz-animation: fadeout 5s 1 ease-out; 
      -o-animation: fadeout 5s 1 ease-out;
      animation: fadeout 5s 1 ease-out; 
  }
  /* .grid > h2 {
    margin-left: 0.45em;
  } */
  .grid > section {
    padding: 1em 1em 0.5em;
  }
  .grid > section:target {
    -webkit-animation: fadeout 5s 1 ease-out;
      -moz-animation: fadeout 5s 1 ease-out; 
      -o-animation: fadeout 5s 1 ease-out;
      animation: fadeout 5s 1 ease-out; 
  }
  .grid ul {
    overflow: hidden;
  }
  .grid ul li {
    margin-bottom: 0.3em;
  }

  a:hover {
    background-color: black;
    border-style: dotted;
  }

  @media only screen and (min-width: 320px)and (max-width: 1024px) {

    .webDevHeader {
      font-size: 4rem;
    }
  
  
  }
  