@import url("https://fonts.googleapis.com/css?family=Satisfy");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");

.bioPicBox {
    text-align: center;
}

.bioPic {
    height: 50rem;
   
}



.tagLineBox {
    
    padding: 50px;
    font-family: 'Bebas Neue';
    font-size: 5vw;
    color: rgb(121, 121, 121);
    /* text-shadow: -2px 3px 4px rgb(29, 118, 150); */
    /* text-shadow: -1px 3px 3px rgb(157, 87, 87); */
}
