@import url("https://fonts.googleapis.com/css?family=Satisfy");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");

.bioPicBox {
    text-align: center;
}

.bioPic {
    height: 40rem;
}

.tagLineBox {
    padding: 50px;
    font-family: 'Bebas Neue';
    font-size: 6vw;
    color: rgb(121, 121, 121);
}

#name {
    color: rgba(31, 31, 85, 0.781);
}