@import url("https://fonts.googleapis.com/css?family=Kodchasan");
@import url("https://fonts.googleapis.com/css?family=Satisfy");
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");

.bioPicBox {
    float: left;
    text-align: center;
}
#bioPic {
    width: 23vw;
    /* padding-right: 30%; */
}
#nameBox{
    text-align: center;
}

#myName{
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    color: #2F72FF;
}
.tagLine {
    font-family: 'Bebas Neue';
    font-size: 9vw;
    color: #343A40;
    /* margin-bottom: 0; */
}
#textBox {
    /* text-align: center; */
    /* float: left; */
}