
nav {
    display: inline-block;
    text-align: center;
    background-color: white;
}

a {
    color: #000000;
    text-decoration: none;
}
.navbar {
    padding-left: 0px;
    padding-right: 0px;
}
.nav-item {
    width: max-content;
    font-size: 1.05rem;
    font-family: poppins, sans-serif;
}

.nav-item a:hover {
    background-color: black;
    color: white;
}
.navbar-toggler {
    margin: 0px;
    padding: 0px;
}
.navbar-toggler-icon {
    
    width: 2em;
    height: 2em;
    background-image: url("https://dvdvllgsbuck201803-dvdeng.s3.us-east-2.amazonaws.com/dvLogo.png");
}

/* iphones to small screens */
@media only screen and (min-width: 320px)and (max-width: 1024px) {
    .navbar-brand {
        display: none;
    }
}