@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;500;700&display=swap');


nav {
    display: inline-block;
    text-align: center;
    
}

.nav-item {
   /* width: max-content; */
   font-size: 1.3rem;
   font-family: 'Josefin Sans', sans-serif;
   border-radius: 4px;
}

.nav-item a:hover {
    background-color: black;
    color: white;
}


.navbar-toggler-icon {
    color: white;
    background-color: white;
    /* padding: 10px; */
    /* padding-right: 30px; */
}

/* iphones to small screens */
@media only screen and (min-width: 320px)and (max-width: 1024px) {
    .navbar-brand {
        display:none;
    }
}