nav {
    display: inline-block;
    text-align: center;
}

.nav-item {
   width: max-content;
   font-size: 0.9rem;
}

.nav-item a:hover {
    background-color: black;
}

.navbar-toggler-icon {
    color: black;
}

/* iphones to small screens */
@media only screen and (min-width: 320px)and (max-width: 1024px) {
    .navbar-brand {
        display:none;
    }
}