footer {
      width: 100%;
      margin-bottom: 0px;
      border-radius: 0 !important;
      border-bottom: 0;

}

/* .navbar .navbar-default {
      border-radius: 0 !important;
} */
/* 
.copyright {
      color: black;
} */
/* 
.button {
      padding: 1px 1px 1px 1px;
} */