@import url("https://fonts.googleapis.com/css?family=Satisfy");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");
@import url("https://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo");

body {
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pageContent {
  margin-top: 8vh;
  height: 100%;
}

.pageHeader {
  font-family: "Bebas Neue";
  font-size: 70px;
  color: #343a40;
}