@import url("https://fonts.googleapis.com/css?family=Satisfy");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");
@import url("https://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo");

.pageContent {
  margin-top: 8vh;
  height: 100%;
}

.pageHeader {
  font-family: 'Bebas Neue';
  font-size: 90px;
  color: #343A40;
}