@import url("https://fonts.googleapis.com/css?family=Satisfy");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");
@import url("https://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo");

body {
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pageContent {
  height: 100%;
  display: inline-block;
}

.pageHeader {
  margin-top: 10vh;
  font-family: "Bebas Neue";
  font-size: 60px;
  color: #343a40;
}

.sectionTitle {
  font-family: "Bebas Neue";
  font-size: 40px;
  color: #343a40;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .pageContent {
    margin: 0;
    padding: 0;
    text-align: center;
    display: block;
  }
  .pageHeader {
    margin-top: 6vh;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .pageContent {
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
  }
  .pageHeader {
    margin-top: 6vh;
  }
  .profilePhoto {
    width: 100%;
  }

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}