


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .pageContent {
    text-align: center;


  }

  .bioPicBox {
    display: none;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {

  .pageContent {
    margin: 0;
    text-align: center;
    justify-content: center;
    align-content: center;
  }
  

  .bioPic {
    display: none;
  }

  .tagLineBox {
    width: 100%;
    text-align: center;
  }
  .tagLineText {
    font-size: 10vh;
  }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}